* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Norse_bold';
    src: url(Norse-Bold.otf) format('woff2')
  }
  
.container {
    display: flex;
}

.left-section {
    background-image: url(leaf.jpg);
    background-size: cover;
    height: 100vh;
    width: 1000px;
}

.logo-container {
    background-color: rgb(0, 0, 0, 0.5);
    padding: 15px 0px;
    display: flex;
    color: white;
    justify-content:center;
    align-items: center;
    margin-top: 20vh;
    font-family: Norse_bold;
    font-size: 120px;
}

p {
    margin-top: 25px;
}

img {
    width: 100px;
    height: 130px;
    opacity: 1;
}

/* -------------------------------------------------------------- */

.right-section {
    background-color: rgb(249, 250, 251);
    display: flex;
    flex-direction: column;
}

.header {
    padding: 150px 150px 50px 50px;
    font-size: 1.1rem;
}

.header :nth-child(2) {
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    letter-spacing: 2px;
}

/* ------------------------------------------------------------------ */

.form-title {
    padding-left: 50px;
    background-color: white;
    padding-top: 20px;
}

form {
    background-color: white;
    padding: 30px 50px 30px 50px;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

input {
    width: 250px;
    height: 25px;
    margin-bottom: 20px;
    border-color: rgb(227, 220, 220);
    border-radius: 3px;;
}

.sec {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* ------------------------------------------------------------------ */

.footer {
    padding-left: 50px;
    padding-top: 40px;
}

button {
    background-color: #596D48;
    padding: 15px 50px;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #596D48;
}

input:required {
    background-color: white;
    border-color: red;
}